/*#region Universal */

body {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.section {
    width: 100%;
    margin: 0;
    height: 550px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.content {
    width: 1000px;
    flex-direction: column;
    display: flex;
}

button {
    border-radius: 20px;
    background-color: #3882f6;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 16px;
}
/*#endregion */

/*#region Top Section */
.top-div{
    background-color: #1f2937;
    padding-top: 5px;
    
}
.top-div .content {
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.header p{
   font-size: 20px;
   color: #f9faf8; 
   margin: 0;
   font-weight: bold;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.hero .content{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero .content h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 20px;
}

.hero .content p {
    font-size: 18px;
}

.hero .content button {
    border: transparent;
}

.hero .content img {
    opacity: 0.6;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-size: 16px;
}


a {
    color: white;
    text-decoration: none;
}

/*#endregion */

/*#region Second Section */

.sec-div #title{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.sec-div .cards{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.sec-div .cards .card{
    display: flex;
    width: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-div .card .card-top{
    border:3px solid #3882f6;
    border-radius: 20px;
    height: 150px;
}

.sec-div .card p {
    font-size: 18px;
    text-align: center;
}
/*#endregion */

/*#region Third Section */

.third-div {
    background-color: #e5e7eb;
}

.third-div .content{
    align-items: center;
    justify-content: center;
    width: 800px;
}
.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
}

.third-div .credit{
    margin-top: -10px;
    align-self: flex-end;
}
/*#endregion */


/*#region Fourth Section */

.fourth-div {
    align-items: center;
    justify-content: center;
}

.fourth-div .content {
    border-radius: 20px;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    height: 150px;
}
.fourth-div .content p {
    margin: 0;
}

.fourth-div .content .title {
    font-size: 24px;
    font-weight: bold;
}

.fourth-div .content .subtitle {
    font-size: 18px;
}

.fourth-div .content button {
    border:1px solid white;
}


/*#endregion */

/*#region Footer */

/*#endregion */